# Q-022 Names scores



Using names.txt (right click and 'Save Link/Target As...'), a 46K text file containing over five-thousand first names, begin by sorting it into alphabetical order. Then working out the alphabetical value for each name, multiply this value by its alphabetical position in the list to obtain a name score.

For example, when the list is sorted into alphabetical order, COLIN, which is worth 3 + 15 + 12 + 9 + 14 = 53, is the 938th name in the list. So, COLIN would obtain a score of 938 Ã— 53 = 49714.

What is the total of all the name scores in the file?


1. ascii-65

In [1]:
# file open
filename = 'q022_data.txt'
with open(filename) as file_object:
    contents = file_object.read()
len(contents)

46447

In [19]:
# file open & remove (") & split with ','

filename = 'q022_data.txt'
with open(filename) as file_object:
    contents = file_object.read()
contents=contents.replace('"','')
print(contents.isupper())
names=contents.split(',')
len(names)

True

5163

In [9]:
# file open & remove (") & split with ','
with open('q022_data.txt') as data:
    names = data.read().replace('"','').split(',')
print(names[:20])

['MARY', 'PATRICIA', 'LINDA', 'BARBARA', 'ELIZABETH', 'JENNIFER', 'MARIA', 'SUSAN', 'MARGARET', 'DOROTHY', 'LISA', 'NANCY', 'KAREN', 'BETTY', 'HELEN', 'SANDRA', 'DONNA', 'CAROL', 'RUTH', 'SHARON']

In [7]:
# sorting & make loop
names.sort()
for idx,val in enumerate(names[:10]):
    print(idx+1,val)

1 AARON
2 ABBEY
3 ABBIE
4 ABBY
5 ABDUL
6 ABE
7 ABEL
8 ABIGAIL
9 ABRAHAM
10 ABRAM

In [1]:
names.sort()
print(names[:100])

['AARON', 'ABBEY', 'ABBIE', 'ABBY', 'ABDUL', 'ABE', 'ABEL', 'ABIGAIL', 'ABRAHAM', 'ABRAM', 'ADA', 'ADAH', 'ADALBERTO', 'ADALINE', 'ADAM', 'ADAN', 'ADDIE', 'ADELA', 'ADELAIDA', 'ADELAIDE', 'ADELE', 'ADELIA', 'ADELINA', 'ADELINE', 'ADELL', 'ADELLA', 'ADELLE', 'ADENA', 'ADINA', 'ADOLFO', 'ADOLPH', 'ADRIA', 'ADRIAN', 'ADRIANA', 'ADRIANE', 'ADRIANNA', 'ADRIANNE', 'ADRIEN', 'ADRIENE', 'ADRIENNE', 'AFTON', 'AGATHA', 'AGNES', 'AGNUS', 'AGRIPINA', 'AGUEDA', 'AGUSTIN', 'AGUSTINA', 'AHMAD', 'AHMED', 'AI', 'AIDA', 'AIDE', 'AIKO', 'AILEEN', 'AILENE', 'AIMEE', 'AISHA', 'AJA', 'AKIKO', 'AKILAH', 'AL', 'ALAINA', 'ALAINE', 'ALAN', 'ALANA', 'ALANE', 'ALANNA', 'ALAYNA', 'ALBA', 'ALBERT', 'ALBERTA', 'ALBERTHA', 'ALBERTINA', 'ALBERTINE', 'ALBERTO', 'ALBINA', 'ALDA', 'ALDEN', 'ALDO', 'ALEASE', 'ALEC', 'ALECIA', 'ALEEN', 'ALEIDA', 'ALEISHA', 'ALEJANDRA', 'ALEJANDRINA', 'ALEJANDRO', 'ALENA', 'ALENE', 'ALESHA', 'ALESHIA', 'ALESIA', 'ALESSANDRA', 'ALETA', 'ALETHA', 'ALETHEA', 'ALETHIA', 'ALEX']

In [3]:
# convert to number (ascii code)
for idx,val in enumerate(names[:20]):
    print(idx+1,val,end=' ')
    for i in val:
        print(ord(i)-64,end=',')
    print()

1 AARON 1,1,18,15,14,
2 ABBEY 1,2,2,5,25,
3 ABBIE 1,2,2,9,5,
4 ABBY 1,2,2,25,
5 ABDUL 1,2,4,21,12,
6 ABE 1,2,5,
7 ABEL 1,2,5,12,
8 ABIGAIL 1,2,9,7,1,9,12,
9 ABRAHAM 1,2,18,1,8,1,13,
10 ABRAM 1,2,18,1,13,
11 ADA 1,4,1,
12 ADAH 1,4,1,8,
13 ADALBERTO 1,4,1,12,2,5,18,20,15,
14 ADALINE 1,4,1,12,9,14,5,
15 ADAM 1,4,1,13,
16 ADAN 1,4,1,14,
17 ADDIE 1,4,4,9,5,
18 ADELA 1,4,5,12,1,
19 ADELAIDA 1,4,5,12,1,9,4,1,
20 ADELAIDE 1,4,5,12,1,9,4,5,

In [14]:
# summation and product
for idx,val in enumerate(names[:20]):
    print(idx+1,val,end=' ')
    total=0
    for i in val:
        print(ord(i)-64,end=',')
        total=total+ord(i)-64
    print("total:",total)

1 MARY 13,1,18,25,total: 57
2 PATRICIA 16,1,20,18,9,3,9,1,total: 77
3 LINDA 12,9,14,4,1,total: 40
4 BARBARA 2,1,18,2,1,18,1,total: 43
5 ELIZABETH 5,12,9,26,1,2,5,20,8,total: 88
6 JENNIFER 10,5,14,14,9,6,5,18,total: 81
7 MARIA 13,1,18,9,1,total: 42
8 SUSAN 19,21,19,1,14,total: 74
9 MARGARET 13,1,18,7,1,18,5,20,total: 83
10 DOROTHY 4,15,18,15,20,8,25,total: 105
11 LISA 12,9,19,1,total: 41
12 NANCY 14,1,14,3,25,total: 57
13 KAREN 11,1,18,5,14,total: 49
14 BETTY 2,5,20,20,25,total: 72
15 HELEN 8,5,12,5,14,total: 44
16 SANDRA 19,1,14,4,18,1,total: 57
17 DONNA 4,15,14,14,1,total: 48
18 CAROL 3,1,18,15,12,total: 49
19 RUTH 18,21,20,8,total: 67
20 SHARON 19,8,1,18,15,14,total: 75

In [19]:
# summation and product
grand_total =0
for idx,val in enumerate(names[:20]):
    print(idx+1,val,end=' ')
    total=0
    for i in val:
        print(ord(i)-64,end=',')
        total=total+ord(i)-64
    print("total:",total,end=',')
    grand_total+=total*(idx+1)
    print(grand_total)

1 MARY 13,1,18,25,total: 57,57
2 PATRICIA 16,1,20,18,9,3,9,1,total: 77,211
3 LINDA 12,9,14,4,1,total: 40,331
4 BARBARA 2,1,18,2,1,18,1,total: 43,503
5 ELIZABETH 5,12,9,26,1,2,5,20,8,total: 88,943
6 JENNIFER 10,5,14,14,9,6,5,18,total: 81,1429
7 MARIA 13,1,18,9,1,total: 42,1723
8 SUSAN 19,21,19,1,14,total: 74,2315
9 MARGARET 13,1,18,7,1,18,5,20,total: 83,3062
10 DOROTHY 4,15,18,15,20,8,25,total: 105,4112
11 LISA 12,9,19,1,total: 41,4563
12 NANCY 14,1,14,3,25,total: 57,5247
13 KAREN 11,1,18,5,14,total: 49,5884
14 BETTY 2,5,20,20,25,total: 72,6892
15 HELEN 8,5,12,5,14,total: 44,7552
16 SANDRA 19,1,14,4,18,1,total: 57,8464
17 DONNA 4,15,14,14,1,total: 48,9280
18 CAROL 3,1,18,15,12,total: 49,10162
19 RUTH 18,21,20,8,total: 67,11435
20 SHARON 19,8,1,18,15,14,total: 75,12935

In [16]:
# summation and product
grand_total =0
for idx,val in enumerate(names):
    total=0
    for i in val:
        total=total+ord(i)-64
    grand_total+=total*(idx+1)
print(grand_total)

850081394

In [30]:
ord('A')

65

In [7]:
ord('A')-64

1

In [46]:
a="sample"
print(a.upper())
print(a.islower())
print(a.isupper())
print(a.isalnum())
print(a.isalpha())

SAMPLE
True
False
True
True

In [45]:
b="SAMPLE"
print(b.lower())
print(b.islower())
print(b.isupper())
print(b.isalnum())
print(b.isalpha())

sample
False
True
True
True

In [47]:
c="Sample21"
print(c.lower())
print(c.islower())
print(c.isupper())
print(c.isalnum())
print(c.isalpha())

sample21
False
False
True
False

In [55]:
c="Sample21"
print("".join(reversed(c)))

12elpmaS

In [66]:
import inspect
d=[1,2,3]
dd= reversed(d)
print(type(dd))

<class 'list_reverseiterator'>

In [ ]:
#forum-1
def letter_score(letter):
    return ord(letter.upper()) - 64

def word_score(word):
    return sum(letter_score(x) for x in word)

def Euler_22():
    names_file = open("Euler_22_names.txt")
    names = sorted([x[1:-1] for x in names_file.read().split(",")])
    return sum((x + 1) * word_score(names[x]) for x in range(len(names)))

In [ ]:
#forum-2
with open("names.txt") as f:
    # read lines, remove \n and ", and sort
    file = sorted([line.rstrip('\n').strip('\"') for line in f])

score_sum = 0
for i in range(len(file)):
    score_sum += sum([(ord(j)-64) for j in file[i]]) * (i + 1)

print(score_sum)

In [ ]:
#forum-3
#Project Euler
#Question 22
#Jesse Hamer
#12/18/17

#Find the sum of all name scores from the list.

names = scan("p022_names.txt",what = "", sep = ",")
names[is.na(names)]="NA"
names = sort(names)

name.value = function(name){
  temp = strsplit(name,"")[[1]]
  alphabet = c("A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z")
  scores = sapply(temp, function(i)return(which(i==alphabet)))
  return(sum(scores))
}


name.values = sapply(names, name.value)

scores = seq_len(length(name.values))*name.values

sum(scores)

In [ ]:
#forum-4
from string import ascii_uppercase
def Euler22():
    with open("names.txt") as f: names = f.read().split(',')
    names.sort()
    return sum((names.index(name)+1)*sum(ascii_uppercase.index(char)+1 for char in name.strip('"')) for name in names)

In [ ]:
#forum-5
names = sorted(open("names.txt").read().rstrip().replace('"', '').split(","))
total = 0
for position, name in enumerate(names, start = 1):
    total += position * sum(ord(c)-64 for c in name)
print(total)

In [ ]:
#forum-6
import string
import pandas as pd

score_list = []
name_score = 0
name_worth = 0
names = []
df = pd.read_csv('C:\\Users\\Moe\\Desktop\\names.csv.txt',sep=',',names=range(0,5163),na_filter=False)
df = df.transpose()

for name in df[0]:
    names.append(name)

names.sort()

for name in names:
    for c in name:
        name_worth += string.ascii_uppercase.index(c)+1
    name_score = name_worth*(names.index(name)+1)
    name_worth=0
    score_list.append(name_score)

total = sum(score_list)

print(total)

In [ ]:
#forum-7
def value(name) :
    alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    total = 0
    for letter in name :
        total += alphabet.find(letter) + 1
    return(total)

fhand = open('22-names.txt')

name_list = fhand.read().strip().replace('"','').split(',')

name_list.sort()

total = 0

for name_index, name in enumerate(name_list) :
    total += value(name) * (name_index + 1)

print(total)

In [ ]:
#forum-8
# -*- coding: utf-8 -*-
"""
Created on Mon Jan  1 10:17:39 2018

@author: User
"""

#Dictionary of letter values
alphabet = {'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':7,'H':8,
            'I':9,'J':10,'K':11,'L':12,'M':13,'N':14,'O':15,'P':16,'Q':17,
            'R':18,'S':19,'T':20,'U':21,'V':22,'W':23,'X':24,'Y':25,'Z':26}

#Function to get name_score
def name_score(name):
    result = 0
    for letter in name:
        result += alphabet[letter]
    return result
    
#Reading the file and putting names into list
file = "names.txt"
names = []
for line in open(file,'r'):
    names.append(line.strip().split(','))

names = names[0]
names.sort()


#Getting Answer
answer = 0
for x in range(len(names)):
    names[x] = names[x].replace('"',"") #Remove the " from names
    answer += name_score(names[x]) * (x+1)

print(answer)