# Q-022 Names scores



Using names.txt (right click and 'Save Link/Target As...'), a 46K text file containing over five-thousand first names, begin by sorting it into alphabetical order. Then working out the alphabetical value for each name, multiply this value by its alphabetical position in the list to obtain a name score.

For example, when the list is sorted into alphabetical order, COLIN, which is worth 3 + 15 + 12 + 9 + 14 = 53, is the 938th name in the list. So, COLIN would obtain a score of 938 Ã— 53 = 49714.

What is the total of all the name scores in the file?


1. ascii-65

In [3]:
# file open
filename = 'q022_data.txt'
with open(filename) as file_object:
    contents = file_object.read()
contents[:200]

'"MARY","PATRICIA","LINDA","BARBARA","ELIZABETH","JENNIFER","MARIA","SUSAN","MARGARET","DOROTHY","LISA","NANCY","KAREN","BETTY","HELEN","SANDRA","DONNA","CAROL","RUTH","SHARON","MICHELLE","LAURA","SARA'

In [19]:
# file open & remove (") & split with ','

filename = 'q022_data.txt'
with open(filename) as file_object:
    contents = file_object.read()
contents=contents.replace('"','')
print(contents.isupper())
names=contents.split(',')
len(names)

True

5163

In [5]:
# file open & remove (") & split with ','
with open('q022_data.txt') as data:
    names = data.read().replace('"','').split(',')
print(names[:20])

['MARY', 'PATRICIA', 'LINDA', 'BARBARA', 'ELIZABETH', 'JENNIFER', 'MARIA', 'SUSAN', 'MARGARET', 'DOROTHY', 'LISA', 'NANCY', 'KAREN', 'BETTY', 'HELEN', 'SANDRA', 'DONNA', 'CAROL', 'RUTH', 'SHARON']

In [7]:
# sorting & make loop
names.sort()
for idx,val in enumerate(names[:10]):
    print(idx+1,val)

1 AARON
2 ABBEY
3 ABBIE
4 ABBY
5 ABDUL
6 ABE
7 ABEL
8 ABIGAIL
9 ABRAHAM
10 ABRAM

In [8]:
names.sort()
print(names[:100])

['AARON', 'ABBEY', 'ABBIE', 'ABBY', 'ABDUL', 'ABE', 'ABEL', 'ABIGAIL', 'ABRAHAM', 'ABRAM', 'ADA', 'ADAH', 'ADALBERTO', 'ADALINE', 'ADAM', 'ADAN', 'ADDIE', 'ADELA', 'ADELAIDA', 'ADELAIDE', 'ADELE', 'ADELIA', 'ADELINA', 'ADELINE', 'ADELL', 'ADELLA', 'ADELLE', 'ADENA', 'ADINA', 'ADOLFO', 'ADOLPH', 'ADRIA', 'ADRIAN', 'ADRIANA', 'ADRIANE', 'ADRIANNA', 'ADRIANNE', 'ADRIEN', 'ADRIENE', 'ADRIENNE', 'AFTON', 'AGATHA', 'AGNES', 'AGNUS', 'AGRIPINA', 'AGUEDA', 'AGUSTIN', 'AGUSTINA', 'AHMAD', 'AHMED', 'AI', 'AIDA', 'AIDE', 'AIKO', 'AILEEN', 'AILENE', 'AIMEE', 'AISHA', 'AJA', 'AKIKO', 'AKILAH', 'AL', 'ALAINA', 'ALAINE', 'ALAN', 'ALANA', 'ALANE', 'ALANNA', 'ALAYNA', 'ALBA', 'ALBERT', 'ALBERTA', 'ALBERTHA', 'ALBERTINA', 'ALBERTINE', 'ALBERTO', 'ALBINA', 'ALDA', 'ALDEN', 'ALDO', 'ALEASE', 'ALEC', 'ALECIA', 'ALEEN', 'ALEIDA', 'ALEISHA', 'ALEJANDRA', 'ALEJANDRINA', 'ALEJANDRO', 'ALENA', 'ALENE', 'ALESHA', 'ALESHIA', 'ALESIA', 'ALESSANDRA', 'ALETA', 'ALETHA', 'ALETHEA', 'ALETHIA', 'ALEX']

In [3]:
# convert to number (ascii code)
for idx,val in enumerate(names[:20]):
    print(idx+1,val,end=' ')
    for i in val:
        print(ord(i)-64,end=',')
    print()

1 AARON 1,1,18,15,14,
2 ABBEY 1,2,2,5,25,
3 ABBIE 1,2,2,9,5,
4 ABBY 1,2,2,25,
5 ABDUL 1,2,4,21,12,
6 ABE 1,2,5,
7 ABEL 1,2,5,12,
8 ABIGAIL 1,2,9,7,1,9,12,
9 ABRAHAM 1,2,18,1,8,1,13,
10 ABRAM 1,2,18,1,13,
11 ADA 1,4,1,
12 ADAH 1,4,1,8,
13 ADALBERTO 1,4,1,12,2,5,18,20,15,
14 ADALINE 1,4,1,12,9,14,5,
15 ADAM 1,4,1,13,
16 ADAN 1,4,1,14,
17 ADDIE 1,4,4,9,5,
18 ADELA 1,4,5,12,1,
19 ADELAIDA 1,4,5,12,1,9,4,1,
20 ADELAIDE 1,4,5,12,1,9,4,5,

In [9]:
# summation and product
for idx,val in enumerate(names[:20]):
    print(idx+1,val,end=' ')
    total=0
    for i in val:
        print(ord(i)-64,end=',')
        total=total+ord(i)-64
    print("total:",total)

1 AARON 1,1,18,15,14,total: 49
2 ABBEY 1,2,2,5,25,total: 35
3 ABBIE 1,2,2,9,5,total: 19
4 ABBY 1,2,2,25,total: 30
5 ABDUL 1,2,4,21,12,total: 40
6 ABE 1,2,5,total: 8
7 ABEL 1,2,5,12,total: 20
8 ABIGAIL 1,2,9,7,1,9,12,total: 41
9 ABRAHAM 1,2,18,1,8,1,13,total: 44
10 ABRAM 1,2,18,1,13,total: 35
11 ADA 1,4,1,total: 6
12 ADAH 1,4,1,8,total: 14
13 ADALBERTO 1,4,1,12,2,5,18,20,15,total: 78
14 ADALINE 1,4,1,12,9,14,5,total: 46
15 ADAM 1,4,1,13,total: 19
16 ADAN 1,4,1,14,total: 20
17 ADDIE 1,4,4,9,5,total: 23
18 ADELA 1,4,5,12,1,total: 23
19 ADELAIDA 1,4,5,12,1,9,4,1,total: 37
20 ADELAIDE 1,4,5,12,1,9,4,5,total: 41

In [10]:
# summation and product
grand_total =0
for idx,val in enumerate(names[:20]):
    print(idx+1,val,end=' ')
    total=0
    for i in val:
        print(ord(i)-64,end=',')
        total=total+ord(i)-64
    print("total:",total,end=',')
    grand_total+=total*(idx+1)
    print(grand_total)

1 AARON 1,1,18,15,14,total: 49,49
2 ABBEY 1,2,2,5,25,total: 35,119
3 ABBIE 1,2,2,9,5,total: 19,176
4 ABBY 1,2,2,25,total: 30,296
5 ABDUL 1,2,4,21,12,total: 40,496
6 ABE 1,2,5,total: 8,544
7 ABEL 1,2,5,12,total: 20,684
8 ABIGAIL 1,2,9,7,1,9,12,total: 41,1012
9 ABRAHAM 1,2,18,1,8,1,13,total: 44,1408
10 ABRAM 1,2,18,1,13,total: 35,1758
11 ADA 1,4,1,total: 6,1824
12 ADAH 1,4,1,8,total: 14,1992
13 ADALBERTO 1,4,1,12,2,5,18,20,15,total: 78,3006
14 ADALINE 1,4,1,12,9,14,5,total: 46,3650
15 ADAM 1,4,1,13,total: 19,3935
16 ADAN 1,4,1,14,total: 20,4255
17 ADDIE 1,4,4,9,5,total: 23,4646
18 ADELA 1,4,5,12,1,total: 23,5060
19 ADELAIDA 1,4,5,12,1,9,4,1,total: 37,5763
20 ADELAIDE 1,4,5,12,1,9,4,5,total: 41,6583

In [11]:
# final
with open('q022_data.txt') as data:
    names = data.read().replace('"','').split(',')
names.sort()

grand_total =0
for idx,val in enumerate(names):
    total=0
    for i in val:
        total=total+ord(i)-64
    grand_total+=total*(idx+1)
print(grand_total)

871198282

In [30]:
ord('A')

65

In [7]:
ord('A')-64

1

In [46]:
a="sample"
print(a.upper())
print(a.islower())
print(a.isupper())
print(a.isalnum())
print(a.isalpha())

SAMPLE
True
False
True
True

In [45]:
b="SAMPLE"
print(b.lower())
print(b.islower())
print(b.isupper())
print(b.isalnum())
print(b.isalpha())

sample
False
True
True
True

In [47]:
c="Sample21"
print(c.lower())
print(c.islower())
print(c.isupper())
print(c.isalnum())
print(c.isalpha())

sample21
False
False
True
False

In [55]:
c="Sample21"
print("".join(reversed(c)))

12elpmaS

In [66]:
import inspect
d=[1,2,3]
dd= reversed(d)
print(type(dd))

<class 'list_reverseiterator'>